.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px 0px;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  position: relative;
  color: rgb(15, 15, 15);
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotatey(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 21px;
  bottom: 15px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  line-height: 24px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: rgb(255, 71, 71);
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__dot {
  position: absolute;
  left: 30px;
  bottom: 10px;
  font-size: 40px;
  color: rgb(255, 71, 71);
}

@keyframes btnAppear {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(60px);
  opacity: 0;
  animation: btnAppear 0.5s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}

.nav__btn:last-child {
  animation-delay: 0.6s;
}